<div class="jumbotron banner row" style="margin-bottom:0">
    <div class="col-sm-3 justify-content-center">
        <img class="logo align-self-center d-none d-sm-block" src="../../assets/logo.svg">
    </div>
    <div class="col-sm-9 text-center">
        <h1 class="display-2">Gift Card</h1>
        <p class="h3">Exclusive Gift Cards For Loved Ones..</p>
    </div>
</div>
<nav class="navbar navbar-expand-md d-none d-md-block">
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav justify-content-around w-100 text-center">
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/placeorder']" routerLinkActive="router-link-active" >Place Gift Card Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/vieworders']" routerLinkActive="router-link-active" >View Gift Card Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contactus']" routerLinkActive="router-link-active" >Contact Us</a>
            </li>
        </ul>
    </div>
</nav>