<aside>
    <span class="navbar-toggler-icon"></span>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="router-link-active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/placeorder" routerLinkActive="router-link-active">Place Gift Card Order</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="vieworders" routerLinkActive="router-link-active">View Gift Card Order</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contactus" routerLinkActive="router-link-active">Contact Us</a>
        </li>
    </ul>
    <hr class="d-none">
</aside>